.title {
    color: #000000;
    font-family: 'Droid serif', serif;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    line-height: 44px;
    margin: 60px 0 12px;
    text-align: center;
    height:100px;
}

body {
    background-image: url(pills-seamless-background.jpg);
}

div.header_transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox{
    width:300px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

div.transboxWide{
    width:400px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}